.aurora-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -20;
  pointer-events: none;
  overflow: hidden;
}

.aurora-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
